## Data Analysis

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Toyota.csv',index_col=0,na_values=['??','????'])

In [3]:
df1=df.copy() #creating a deep copy original because we don't want to make changes to the original data

### Frequency Table

In [4]:
pd.crosstab(index=df1['FuelType'],columns='count',dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

### Two-Way Tables

In [5]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

### Joint Probability

#### Joint Probability is the likelihood of 2 independent events occuring simultaneoulsy

In [6]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],normalize=True,dropna=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

### Marginal Probability

#### Marginal Probability is the probability of the occurence of a single event

In [7]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],normalize=True,margins=True,dropna=True)
#margins is set to True to get row and column sums

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

### Conditional Probability

#### Conditional Probability is probability of event A given that event B has already occurred

In [8]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],normalize='index',margins=True,dropna=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [9]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],normalize='columns',margins=True,dropna=True)

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

### Correlation

In [10]:
numerical_data=df1.select_dtypes(exclude=['object'])
numerical_data.dtypes

Price          int64
Age          float64
KM           float64
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Weight         int64
dtype: object

In [11]:
numerical_data.corr() #checks the correlation between each column

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Price,1.000000,-0.878407,-0.574720,0.309902,0.112041,0.033081,0.165067,0.581198
Age,-0.878407,1.000000,0.512735,-0.157904,-0.099659,0.032573,-0.120706,-0.464299
KM,-0.574720,0.512735,1.000000,-0.335285,-0.093825,-0.081248,0.299993,-0.026271
HP,0.309902,-0.157904,-0.335285,1.000000,0.064749,0.013755,0.053758,0.086737
MetColor,0.112041,-0.099659,-0.093825,0.064749,1.000000,-0.013973,0.029189,0.057142
Automatic,0.033081,0.032573,-0.081248,0.013755,-0.013973,1.000000,-0.069321,0.057249
CC,0.165067,-0.120706,0.299993,0.053758,0.029189,-0.069321,1.000000,0.651450
Weight,0.581198,-0.464299,-0.026271,0.086737,0.057142,0.057249,0.651450,1.000000