In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.read_csv('Toyota.csv',index_col=0,na_values=['??','????'])

In [5]:
df.dtypes #returns the dtype of each column

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [6]:
df.select_dtypes(include=['int64','float64'],exclude=['object']) #selecting datatypes

      Price   Age       KM     HP  MetColor  Automatic    CC  Weight
0     13500  23.0  46986.0   90.0       1.0          0  2000    1165
1     13750  23.0  72937.0   90.0       1.0          0  2000    1165
2     13950  24.0  41711.0   90.0       NaN          0  2000    1165
3     14950  26.0  48000.0   90.0       0.0          0  2000    1165
4     13750  30.0  38500.0   90.0       0.0          0  2000    1170
...     ...   ...      ...    ...       ...        ...   ...     ...
1431   7500   NaN  20544.0   86.0       1.0          0  1300    1025
1432  10845  72.0      NaN   86.0       0.0          0  1300    1015
1433   8500   NaN  17016.0   86.0       0.0          0  1300    1015
1434   7250  70.0      NaN   86.0       1.0          0  1300    1015
1435   6950  76.0      1.0  110.0       0.0          0  1600    1114

[1436 rows x 8 columns]

In [7]:
df.info() #gives the concise summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [8]:
np.unique(df['KM']) #np.unique takes input as only a single array
#since there is a special character('??') 'KM' has been read as object instead of int64

array([1.0000e+00, 1.5000e+01, 2.2500e+02, ..., 2.3294e+05, 2.4300e+05,
              nan])

In [9]:
df.info() #after replacing special characters with NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [10]:
df['FuelType'].nbytes

11488

In [11]:
df['FuelType'].astype('category').nbytes #so dtype as category consumes less memory
# astype() is used to change a column's dtype

1460

## Cleaning Data in column 'Doors'

In [12]:
df['Doors'].replace('three',3,inplace=True)
df['Doors'].replace('four',4,inplace=True)
df['Doors'].replace('five',5,inplace=True)

In [13]:
df.dtypes #the dtype doesn't change because we haven't used astype

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [14]:
df['Doors']=df['Doors'].astype('int64')

In [15]:
df.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors          int64
Weight         int64
dtype: object

In [17]:
df.isnull().sum() #gives the number of values that are NaN

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64