In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Iris_data_sample.csv')

In [3]:
df.head(5) #we can see here that there are 2 columns with indices

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [4]:
df=pd.read_csv('Iris_data_sample.csv',index_col=0) #this drops the first column

In [5]:
df.head(5) #we can also see that the missing values are represented by ?? and ###. We can replace them with NaN

  SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
1           5.1           3.5           1.4           0.2  Iris-setosa
2           4.9           NaN           1.4           0.2          NaN
3           4.7           3.2           1.3           0.2  Iris-setosa
4            ??           3.1           1.5           0.2  Iris-setosa
5             5           3.6           ###           0.2  Iris-setosa

In [6]:
df=pd.read_csv('Iris_data_sample.csv',index_col=0,na_values=['??','###'])

In [7]:
df.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1            5.1           3.5            1.4           0.2  Iris-setosa
2            4.9           NaN            1.4           0.2          NaN
3            4.7           3.2            1.3           0.2  Iris-setosa
4            NaN           3.1            1.5           0.2  Iris-setosa
5            5.0           3.6            NaN           0.2  Iris-setosa

In [8]:
df1=pd.read_table('Iris_data_sample.txt',delimiter=' ',index_col=0) #for reading .txt form using read_table

In [9]:
df1.head(5)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa

## Creating a copy of the original data

In [10]:
df2=df #this creates a shallow copy which means that any changes made in df2 will reflect in df

In [11]:
df3=df.copy(deep=True) #df3 is now a deep copy of df which means it has no reference to df

## Attributes of data

In [12]:
df2.index #gives row labels

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
           dtype='int64', length=150)

In [13]:
df2.columns #gives the column names

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [14]:
df2.size #gives (no of columns) x (no of rows)

750

In [15]:
df2.memory_usage()

Index            1200
SepalLengthCm    1200
SepalWidthCm     1200
PetalLengthCm    1200
PetalWidthCm     1200
Species          1200
dtype: int64

In [16]:
df2.ndim #gives 2 because there are rows and columns

2

In [17]:
df2.at[4,'Species'] #scalar-based lookups

'Iris-setosa'

In [18]:
df2.iat[3,4] #integer-based lookups

'Iris-setosa'

In [19]:
df2.loc[:,'SepalWidthCm']

1      3.5
2      NaN
3      3.2
4      3.1
5      3.6
      ...
146    3.0
147    2.5
148    3.0
149    3.4
150    3.0
Name: SepalWidthCm, Length: 150, dtype: float64